$color-black: #212121;
$color-grey: #393939;
$color-lightGrey: #ccc;
$color-white: #fff;
$color-blue: #0e7df8;
$color-darkBlue: #000035;
$color-greenGrey: #343638;
$color-orange: #ff5300;
$color-red: #a80000;
$color-darkGrey: #2e2e2e;
$color-green: #23c26b;
$color-darkGreen: #004000;


$phonePortrait: 480px;
$phoneLanscape: 768px;
$tabletMin: 768px;
$tabletMax: 1024px;
$desktopMin: 1224px;
$largeScreenMin: 1824px; 
